{{ define "Form" }}

{{ if eq .Type "HorizontalLayout" }}
<fieldset class="grid">
  {{ template "Elements" . }}
</fieldset>
{{ else if eq .Type "VerticalLayout" }}
<fieldset>
  {{ template "Elements" . }}
</fieldset>
{{ else if eq .Type "Label" }}
<h3>{{ .Text }}</h3>
{{ else if eq .Type "Control" }}
{{ template "Control" (find .Scope) }}
{{ end }}

{{ end }}


{{ define "Elements" }}
<!-- iterate Elements if there are any -->
{{ if .Elements}}
{{ range .Elements }}
{{ template "Form" . }}
{{ end }}
{{ end }}
{{ end }}


{{ define "Control" }}
<div>
  <label for="{{ .Scope }}">{{ .Label }}</label>
  {{ if .enum }}
  <select list="{{ .Scope }}">
    {{ range .enum }}
    <option value="{{ . }}">{{ . }}</option>
    {{ end }}
  </select>
  {{ else }}
  {{ $type := .type }}
  {{ if eq $type "integer" }}
  {{ $type = "number" }}
  {{ else if eq .format "date" }}
  {{ $type = "date" }}
  {{ else if eq $type "string" }}
  {{ $type = "text" }}
  {{ end }}
  <input id="{{ .Scope }}" name="{{ .Scope }}" type="{{$type}}" aria-describedby="{{ .Scope }}-helper" {{ if .maximum }}
    max="{{.maximum}}" {{ end }} {{ if .minimum }} min="{{ .minimum }}" {{ end }}>
  {{ end }} <!-- else -->

  {{ if .description }}
  <small id="{{ .Scope }}-helper">
    {{ .description }}
  </small>
  {{ end }}
</div>
{{ end }} <!-- control -->