<!-- ============= -->
<!-- Form template -->
<!-- ============= -->
{{ define "Form" }}
{{ if eq .type "HorizontalLayout" }}
<div class="columns">
  {{ template "Elements" . }}
</div>
{{ else if eq .type "VerticalLayout" }}
<div>
  {{ template "Elements" . }}
</div>
{{ else if eq .type "Group" }}
<div class="card">
  {{ if .label }}
  <div class="card-header">
    <div class="card-title h5">{{ .label }}</div>
  </div>
  {{ end }}
  <div class="card-body">
    {{ template "Elements" . }}
  </div>
</div>
{{ else if eq .type "Label" }}
<h3>{{ .text }}</h3>
{{ else if eq .type "Control" }}
{{ if eq .schema.type "array" }}
{{ template "Array" . }}
{{ else }}
{{ template "Control" . }}
{{ end }}
{{ end }}
{{ end }}

<!-- =============== -->
<!-- Array template -->
<!-- =============== -->
{{ define "Array" }}
{{ range .options.detail }}
{{ template "Form" . }}
{{ end }}
{{ end }}

<!-- ================= -->
<!-- Elements template -->
<!-- ================= -->
{{ define "Elements" }}
{{ if .elements}}
{{ range .elements }}
{{ template "Form" . }}
{{ end }}
{{ end }}
{{ end }}

<!-- ================ -->
<!-- Control template -->
<!-- ================ -->
{{ define "Control" }}
<div class="form-group{{ if .schema.col }}{{ .schema.col }}{{ end }}">
  {{ if .label }}
  <label class="form-label" for="{{ .scope }}">{{ .label }}</label>
  {{ end }}

  <!-- enum -->
  {{ if .schema.enum }}
  <select class="form-select" list="{{ .scope }}">
    {{ range .schema.enum }}
    <option value="{{ . }}">{{ . }}</option>
    {{ end }}
  </select>
  <!-- no enum -->
  {{ else }}

  <!-- type -->
  {{ $type := .schema.type }}
  {{ if eq $type "integer" }}
  {{ $type = "number" }}
  {{ else if eq .schema.format "date" }}
  {{ $type = "date" }}
  {{ else if eq $type "string" }}
  {{ $type = "text" }}
  {{ end }}
  <!-- end type -->
  <input class="form-input" id="{{ .scope }}" name="{{ .scope }}" type="{{ $type }}"
    aria-describedby="{{ .scope }}-helper" {{ if .data }}value="{{ .data }}" {{ end }} />
  {{ if .schema.description }}
  <small id="{{ .schema.scope }}-helper">
    {{ .schema.description }}
  </small>
  {{ end }}
  {{ end }}
</div>
{{ end }} <!-- control -->