<!-- ============= -->
<!-- Form template -->
<!-- ============= -->
{{ define "Form" }}
{{ if eq .Type "HorizontalLayout" }}
<div class="columns">
  {{ template "Elements" . }}
</div>
{{ else if eq .Type "VerticalLayout" }}
<div>
  {{ template "Elements" . }}
</div>
{{ else if eq .Type "Group" }}
<div class="card">
  {{ if .Label }}
  <div class="card-header">
    <div class="card-title h5">{{ .Label }}</div>
  </div>
  {{ end }}
  <div class="card-body">
    {{ template "Elements" . }}
  </div>
</div>
{{ else if eq .Type "Label" }}
<h3>{{ .Text }}</h3>
{{ else if eq .Type "Control" }}
{{ $control := (find .Scope) }}
{{ if eq $control.type "array" }}
{{ template "Array" . }}
{{ else }}
{{ template "Control" $control }}
{{ end }}
{{ end }}
{{ end }}

<!-- ================= -->
<!-- Elements template -->
<!-- ================= -->
{{ define "Elements" }}
{{ if .Elements}}
{{ range .Elements }}
{{ template "Form" . }}
{{ end }}
{{ end }}
{{ end }}

<!-- ================ -->
<!-- Control template -->
<!-- ================ -->
{{ define "Control" }}
<div class="form-group{{ colWidthClass .Scope }}">
  <label class="form-label" for="{{ .Scope }}">{{ .Label }}</label>
  {{ if .enum }}
  <select class="form-select" list="{{ .Scope }}">
    {{ range .enum }}
    <option value="{{ . }}">{{ . }}</option>
    {{ end }}
  </select>
  {{ else }}
  {{ $type := .type }}
  {{ if eq $type "integer" }}
  {{ $type = "number" }}
  {{ else if eq .format "date" }}
  {{ $type = "date" }}
  {{ else if eq $type "string" }}
  {{ $type = "text" }}
  {{ end }}
  <input class="form-input" id="{{ .Scope }}" name="{{ .Scope }}" type="{{$type}}"
    aria-describedby="{{ .Scope }}-helper" {{ findData .Scope }} {{ if .maximum }} max="{{.maximum}}" {{ end }} {{ if
    .minimum }} min="{{ .minimum }}" {{ end }}>
  {{ end }} <!-- else -->
  {{ if .description }}
  <small id="{{ .Scope }}-helper">
    {{ .description }}
  </small>
  {{ end }}
</div>
{{ end }} <!-- control -->

<!-- ============== -->
<!-- Array template -->
<!-- ============== -->
{{ define "Array"}}
<!-- TODO: range over data -->
{{ . }}
{{ $items := generateItems .Scope }}
{{ range $items }}
{{ template "Form" . }}
{{ end }}
{{ end }}