{{ define "Content" }}
<div class="container">
  {{ if .Menu }}
  <div class="sidebar">
    <ul class="nav">
      {{- if ne .Logo "" }}
      <img src="{{- .Logo }}" alt="logo" class="logo">
      {{- end }}
      {{ range .Menu }}
      <li class="nav-item{{ if .Current }} active{{ end }}">
        <i class="icon icon-check"></i>
        {{- if .ExternalLink }}
        <a href="{{ .ExternalLink }}">{{ .Titel }}</a>
        {{- else }}
        <a href="/{{ .Link }}">{{ .Titel }}</a>
        {{- end}}
      </li>
      {{ end }}
    </ul>
  </div>
  {{end}}
  <div class="content">
    <div>
      {{ template "Screen" . }}
    </div>
  </div>
</div>
{{ end }}