{{- define "Screen" }}
{{- range .Menu }}
{{- if .Current }}
<h1>{{- .Titel }}</h1>
{{- end }}
{{- end }}
<form id="form" {{- if .PostLink }}hx-post="/{{- .PostLink }}" {{- else }}hx-post="/" {{- end }} hx-target="this"
  hx-swap="none">
  <fieldset>
    {{- if .UISchema }}
    {{- template "Form" .UISchema }}
    {{- end }}
  </fieldset>
  {{- if .Confirmation.ButtonText }}
  <button class="btn" type="submit" hx-confirm="submit">{{- .Confirmation.ButtonText }}</button>
  {{- else }}
  <button class="btn" type="submit">OK</button>
  {{- end }}
</form>
{{- end }}